table{
    width: 100%;
    border-collapse: collapse;
}
th{
    height: 30px;
}
table, th, td{
    border: 2px solid black;
}
th, td{
    padding: 10px;
    text-align: left;
}
.tr:nth-child(odd){
    background: black;
    color: white;
}
